{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'groups/group.css' %}">
		<title>Group</title>
	<script type="text/javascript" src="http://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=45buUl8qc5yWOac6p5Ohmtlixxwn9DJuiim09kvQCkG_UVoIQ0sRzBfsY5PFbpCArELZqNgdY-CMu5jZq7ehJNCdDDX_S58Q5Xtnnhic4gL5jP6cQrCQrgaRBJ8NevzE75NLvFe2h7UL_wDWRiho_g" charset="UTF-8"></script></head>
	<body>
		<div id="aside">
			<div id="input">
				<input type="text" name="search" placeholder="search">
			</div>
			<div class="meg1 meg">
				<img id="im" src="{% static '/groups/img/elon.jpg' %}" height="80px" width="80px">
				<span><p>Good easter</p></span>
			</div>
			<div class="meg2 meg">
				<img id="im" src="{% static '/groups/img/elon.jpg' %}" height="80px" width="80px">
				<span><p>Arsenal group</p></span>
			</div>
			<div class="meg3 meg">
				<img id="im" src="{% static '/groups/img/elon.jpg' %}" height="80px" width="80px">
				<span><p>Mr John Yang</p></span>
			</div>
			<div class="meg4 meg">
				<img id="im" src="{% static '/groups/img/elon.jpg' %}" height="80px" width="80px">
				<span><p>Jane</p></span>
			</div>
		</div>
		<div id="center">
			<div id="group">
				<h1><img src="{% static '/groups/img/elon.jpg' %}" height="40px" width="80px">Good easter</h1>
				<p class="sent">Good easter</p><br>
				<p class="received">You too</p><br>
				<p class="received">Im there</p><br>
				<p class="received">Lorem</p><br>
				<p class="sent">Inshallah</p><br>
			</div>
		</div>
		<div id="right">
			<h2>My permanent groups</h2>
			<a href="#">Arsenal group</a>
			<a href="#">Good easter</a>
			<h2>My temporal groups</h2>
			<a href="#">Divine mercy</a>
			<a href="#">Uefa Champions</a>
		</div>

	</body>
</html>
